{% extends 'base.html.twig' %}

{% block title %}À Propos de Nous{% endblock %}

{% block body %}
    <div class="about">
        <div class="imgAbout">
            <h1>À Propos</h1>
            <img src="/images/tennisCourt2.jpg" alt="Image pour à propos">
            <div class="shapedividers_com-9608"></div>
        </div>
        <div class="aboutData">
            <div class="aboutContainer">
                <h2>Le Tennis Club Smash Ucclois en quelques mots</h2>
                <p>Situé sur un domaine de 4 hectares dans le parc du Wolvendael, notre club est un véritable havre pour les passionnés de tennis. Nous nous engageons à offrir un environnement familial où chaque membre, qu'il soit débutant ou compétiteur, peut jouer et s'épanouir à tout âge. Grâce à de nombreuses animations, nous facilitons les nouvelles rencontres et favorisons l'esprit communautaire. De plus, nos moniteurs passionnés dispensent un enseignement ludique de qualité, garantissant une expérience enrichissante pour tous.</p>
            </div>
            <div class="aboutBox">
                <div class="imgABox">
                    <img src="/images/imgAbout.jpg" alt="Image d'un terrain avec une balle">
                    <h2>HISTOIRE</h2>
                </div>
                <div class="textABox">
                    <div class="contentTextABox">
                        <p><strong>Le Tennis Club Smash Ucclois</strong> a vu le jour en 2010, dans le cadre magnifique du <strong>parc du Wolvendael</strong>. Ce projet est né de la volonté de quelques passionnés de tennis qui souhaitaient créer un lieu où le <strong>sport</strong>, le <strong>partage</strong> et la <strong>convivialité</strong> seraient au cœur de l'expérience. Ce qui a commencé comme un petit groupe de joueurs dévoués s'est progressivement transformé en un <strong>club florissant</strong>, attirant des membres de tous horizons, qu'ils soient <strong>débutants</strong> ou <strong>joueurs aguerris</strong>.</p>
                        
                        <p>Au fil des ans, le club a connu plusieurs phases de développement, <strong>modernisant ses infrastructures</strong> pour répondre aux attentes croissantes de ses membres. Grâce à des investissements constants et à un <strong>soutien communautaire solide</strong>, le club a élargi ses installations et ses services, devenant une <strong>référence incontournable</strong> pour les amateurs de tennis à <strong>Uccle</strong> et au-delà. Chaque événement, tournoi ou session d'entraînement fait partie d'une <strong>histoire plus vaste</strong>, celle d'une <strong>communauté qui évolue</strong> dans un cadre exceptionnel.</p>
                        
                        <p>Aujourd'hui, le Tennis Club Smash Ucclois reste fidèle à ses <strong>valeurs fondatrices</strong> : offrir un espace où le <strong>sport</strong>, la <strong>camaraderie</strong> et l'<strong>excellence</strong> se rencontrent. Nous sommes fiers de notre <strong>histoire</strong> et des <strong>liens solides</strong> que nous avons tissés avec nos membres, des <strong>plus jeunes</strong> aux <strong>plus expérimentés</strong>.</p>
                        <div class="btnMission">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('reservation_index') }}" class="btnABox">Réserver un terrain</a>
                            {% else %}
                                <a href="{{ path('account_login', {redirect: path('reservation_index')}) }}" class="btnABox">Réserver un terrain</a>
                            {% endif %}
                            <a href="{{ path('contact_index') }}" class="btnABox">Nous contacter</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutBox right">
                <div class="imgABox">
                    <img src="/images/aboutBox2.jpg" alt="Image d'un terrain avec une balle">
                    <h2>Mission</h2>
                </div>
                <div class="textABox">
                    <div class="contentTextABox">
                        <p>La <strong>mission du Tennis Club Smash Ucclois</strong> va bien au-delà de la simple pratique sportive. Nous croyons fermement que le <strong>tennis</strong> est un vecteur de <strong>développement personnel</strong> et <strong>collectif</strong>. Notre objectif est de créer un <strong>environnement inclusif</strong>, où chaque membre, peu importe son âge ou son niveau, peut non seulement <strong>améliorer ses compétences techniques</strong> mais aussi <strong>s'épanouir sur le plan humain</strong>.</p>
                        
                        <p>Nous mettons un point d’honneur à offrir un <strong>enseignement de qualité</strong>, adapté à chacun, avec des <strong>méthodes pédagogiques modernes</strong> et <strong>ludiques</strong>. Nos moniteurs, tous animés par une véritable <strong>passion pour le tennis</strong>, sont là pour <strong>guider</strong> et <strong>motiver</strong> les joueurs, que ce soit dans le cadre d'un apprentissage progressif ou d'un perfectionnement pour la compétition. L’accent est mis sur le <strong>plaisir du jeu</strong>, l'<strong>esprit sportif</strong> et la <strong>progression</strong>, dans un cadre sécurisé et agréable.</p>
                        
                        <p>En plus des entraînements, notre club organise régulièrement des <strong>animations</strong>, des <strong>tournois</strong>, et des <strong>événements sociaux</strong> qui encouragent les membres à se rencontrer et à tisser des liens. Nous voulons que le Tennis Club Smash Ucclois soit un lieu de <strong>rencontre</strong>, de <strong>partage</strong> et de <strong>découvertes</strong>, où chaque joueur se sent chez lui, <strong>soutenu</strong> et <strong>inspiré</strong> à atteindre ses objectifs, tout en prenant plaisir à chaque instant passé sur le court.</p>
                        <div class="btnMission">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('tournament_index') }}" class="btnABox">Voir les tournois</a>
                            {% else %}
                                <a href="{{ path('account_login', {redirect: path('tournament_index')}) }}" class="btnABox">Voir les tournois</a>
                            {% endif %}
                            <a href="{{ path('agenda_index') }}" class="btnABox">Voir les événements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="coachAbout">
            <div class="coachContainer">
                <h2>Nos Coachs</h2>
                <p>Notre équipe de coachs passionnés et expérimentés est dédiée à vous aider à atteindre vos objectifs, que vous soyez débutant ou joueur avancé. Grâce à leur expertise et leur approche personnalisée, chaque membre bénéficie d'un accompagnement adapté à ses besoins.</p>
                <div class="cardCoachs">
                    {% for coach in totalCoaches %}
                        <div class="coach">
                            <div class="imgCoach">
                                <img src="/uploads/pictures/{{ coach.user.picture }}" alt="Image de {{ coach.user.fullName }}">
                            </div>
                            <div class="infoCoach">
                                <h3>{{ coach.user.fullName }}</h3>
                                <h4>{{ coach.jobTitle }}</h4>
                                <div class="languageCoach">
                                    {% for language in coach.languages %}
                                        <img src="/uploads/pictures/{{ language.flagImage }}" alt="Drapeau du {{ language.name }}">
                                    {% endfor %}
                                </div>
                                <p>{{ coach.description }}</p>
                                <div class="contactCoach">
                                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="shapedividers_com-9608"></div>
        </div>
    </div>
{% endblock %}