{% extends 'base.html.twig' %}

{% block title %}Modifier Picture{% endblock %}

{% block body %}
    <div class="myClub">
        <div class="myClubContainer formContainer">
            <h1>Modifier votre image de profil</h1>
            <div class="otherActions">
                <a href="{{ path('account_profile') }}">Modifier les données</a>
                <a href="{{ path('account_password') }}">Modifier le mot de passe</a>
                <a href="{{ path('myclub_index') }}" class='myClubBtn'>Retour MyClub</a>
            </div>
            {% if myForm.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in myForm.vars.errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form_start(myForm) }}
                <div class="form-group">
                    {{ form_label(myForm.newPicture) }}
                    {{ form_widget(myForm.newPicture, {'attr': {'class': 'form-control'}}) }}
                </div>
                <span>Image Actuelle :</span>
                {% if picture %}
                    <div class="pictureBefore">
                        <img src="/uploads/pictures/{{ picture }}" alt="Image actuelle">
                    </div>
                    <a href="{{ path('account_delimg') }}" class="removePicture">Supprimer la photo</a>
                {% else %}
                    <span>Vous n'avez pas encore d'image de profil</span>
                {% endif %}
                <button type="submit" class="btnFormSubmit">Enregistrer</button>
            {{ form_end(myForm) }}
        </div>
        <div class="shapedividers_com-9608"></div>
    </div>
{% endblock %}
