{% extends 'base.html.twig' %}

{% block title %}Modifier Mot de Passe{% endblock %}

{% block body %}
    <div class="myClub">
        <div class="myClubContainer formContainer">
            <h1>Modifier votre mot de passe</h1>
            <div class="otherActions">
                <a href="{{ path('account_profile') }}">Modifier les données</a>
                <a href="{{ path('account_imgmodif') }}">Modifier la photo</a>
                <a href="{{ path('myclub_index') }}" class='myClubBtn'>Retour MyClub</a>
            </div>
            <form method="post">
                {{ form_start(myForm) }}
                    <div class="inputForm">
                        {{ form_label(myForm.oldPassword, 'Ancien mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(myForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(myForm.oldPassword) }}
                    </div>
                    <div class="inputForm">
                        {{ form_label(myForm.newPassword, 'Nouveau Mot de Passe', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(myForm.newPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(myForm.newPassword) }}
                    </div>
                    <div class="inputForm">
                        {{ form_label(myForm.confirmPassword, 'Confirmation Mot de Passe', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(myForm.confirmPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(myForm.confirmPassword) }}
                    </div>
                    <button type="submit" class="btnFormSubmit">Enregistrer</button>
                {{ form_end(myForm) }}
            </form>
        </div>
        <div class="shapedividers_com-9608"></div>
    </div>
{% endblock %}
