{# templates/reset_password/request.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié | Le Smash Ucclois{% endblock %}

{% block body %}
<div class="containerComponent">
    <div class="loginContainer">
        <div class="formLogin">
            <div class="formLoginContainer">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
                <h1>MOT DE PASSE OUBLIÉ</h1>
                <h4>Entrez votre nom d'utilisateur pour recevoir un lien de réinitialisation.</h4>
                
                {% if app.flashes('success') %}
                    <div class="successMessage">
                        <span>{{ app.flashes('success')|first }}</span>
                    </div>
                {% endif %}

                {{form_start(form)}}
                    <div class="groupLogin">
                        {{ form_label(form.username, null, {'label_attr': {'class': 'labelLogin'}}) }}
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <button class="submitLogin">Envoyer le mail</button>
                {{form_end(form)}}

                <div class="mdpOublie">
                    <a href="{{ path('account_login') }}">Retour à la connexion</a>
                </div>
            </div>
        </div>
        <div class="imgLogin">
            <div class="imgLoginContainer">
                <div class="textImgLogin">
                    <span>Un contretemps ? Ne vous inquiétez pas.</span>
                    <span>Récupérez l'accès à votre compte.</span>
                </div>
            </div>
            <div class="containerImgLogin">
                <img src="/images/tennisCourt.jpg" alt="Image d'un court de tennis">
            </div>
        </div>
    </div>
    <div class="shapedividers_com-9608"></div>
</div>
{% endblock %}
