{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminAgendaController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-2">Administration des évenements</h1>
        <a href="{{ path('admin_agenda_new') }}" class="btn btn-secondary my-1 mb-4">
            <i class="fa-solid fa-circle-plus"></i>
            <span class="ms-2">Ajouter un évenement</span>
        </a>
        {% if pagination.data is empty %}
            <p class="alert alert-warning">Aucune nouvelle trouvée.</p>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Date</th>
                        <th>Nombre de Places</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {# Afficher la liste normale des personnes ici #}
                    {% for agenda in pagination.data %}
                        <tr>
                            <td>{{agenda.id}}</td>
                            <td>{{agenda.title}}</td>
                            <td>{{agenda.description|length > 50 ? agenda.description|slice(0, 50) ~ '...' : agenda.description}}</td>
                            <td>{{agenda.picture}}</td>
                            <td>{{agenda.date|date('d-m-Y')}}</td>
                            <td>{{agenda.limitNumber}}</td>
                            <td class="text-center">
                                <a href="{{path("admin_agenda_edit",{"id":agenda.id})}}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a href="{{path("admin_agenda_delete",{"id":agenda.id})}}" class="btn btn-danger delete-event"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{pagination.display()}}
        {% endif %}
    </div>

    <script>
        // JavaScript pour la confirmation de suppression
        document.querySelectorAll('.delete-event').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Empêche le lien de suivre immédiatement

                // Afficher une boîte de dialogue de confirmation
                if (confirm("Êtes-vous sûr de vouloir supprimer cet évenement ?")) {
                    // Si l'utilisateur confirme, suivre le lien de suppression
                    window.location.href = this.getAttribute('href');
                }
            });
        });
    </script>
{% endblock %}
