{% extends 'base.html.twig' %}

{% block title %}MyClub - Tournoi{% endblock %}

{% block body %}
<div class="tournamentContainer">
    <div class="bracketContainer">
        <div class="bracket">
            <swiper-container class="mySwiper" init="false">
                {% for round in range(1, roundsCount) %}
                    <swiper-slide>
                        <h3>Tour {{round}}</h3>
                        <div class="matchList">
                            {% for match in matches %}
                                {% set matchRound = match.round|replace({'Tour ': ''})|trim|number_format(0, '', '') %}
                                {% if matchRound == round %}
                                    <div class="match">
                                        {% if match.winner == match.player1 %}
                                            <div class="player winner">
                                                <div class="infoPlayer">
                                                    <div class="imgPlayer">
                                                        {% if match.player1.picture %}
                                                            <img src="/uploads/pictures/{{match.player1.picture}}" alt="">
                                                        {% else %}
                                                            <img src="/images/avatarvide.png" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="infos">
                                                        <span class="infoName">{{match.player1.fullName}}</span>
                                                        <span class="infoRanking">{{match.player1.ranking}}</span>
                                                    </div>
                                                </div>
                                                <div class="winnerTitle">
                                                    <span>Vainqueur</span>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class='player'>
                                                <div class="infoPlayer">
                                                    <div class="imgPlayer">
                                                        {% if match.player1.picture %}
                                                            <img src="/uploads/pictures/{{match.player1.picture}}" alt="">
                                                        {% else %}
                                                            <img src="/images/avatarvide.png" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="infos">
                                                        <span class="infoName">{{match.player1.fullName}}</span>
                                                        <span class="infoRanking">{{match.player1.ranking}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="vs">VS</div>
                                        {% if match.winner == match.player2 %}
                                            <div class="player winner">
                                                <div class="infoPlayer">
                                                    <div class="imgPlayer">
                                                        {% if match.player2.picture %}
                                                            <img src="/uploads/pictures/{{match.player2.picture}}" alt="">
                                                        {% else %}
                                                            <img src="/images/avatarvide.png" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="infos">
                                                        <span class="infoName">{{match.player2.fullName}}</span>
                                                        <span class="infoRanking">{{match.player2.ranking}}</span>
                                                    </div>
                                                </div>
                                                <div class="winnerTitle">
                                                    <span>Vainqueur</span>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class='player'>
                                                <div class="infoPlayer">
                                                    <div class="imgPlayer">
                                                        {% if match.player2.picture %}
                                                            <img src="/uploads/pictures/{{match.player2.picture}}" alt="">
                                                        {% else %}
                                                            <img src="/images/avatarvide.png" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="infos">
                                                        <span class="infoName">{{match.player2.fullName}}</span>
                                                        <span class="infoRanking">{{match.player2.ranking}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </swiper-slide>
                {% endfor %}
            </swiper-container>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script>
    const swiperEl = document.querySelector('swiper-container')
    Object.assign(swiperEl, {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        clickable: true,
      },
      breakpoints: {
        900: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
      },
    });
    swiperEl.initialize();
  </script>
{% endblock %}
