{# templates/tournament/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="tournamentContainer">
    <div class="listTournament">
    
        <h1>Liste des Tournois</h1>

        {# Section pour afficher les messages flash #}
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        {# Regrouper les tournois par statut #}
        {% set tournamentsByStatus = {} %}
        {% for tournament in tournaments %}
            {% set status = tournament.status %}
            {% if tournamentsByStatus[status] is not defined %}
                {% set tournamentsByStatus = tournamentsByStatus|merge({(status): []}) %}
            {% endif %}
            {% set tournamentsByStatus = tournamentsByStatus|merge({(status): tournamentsByStatus[status]|merge([tournament])}) %}
        {% endfor %}

        {# Affichage des tournois par statut #}
        {% set allStatuses = ['Inscription', 'En cours', 'Terminé'] %}
        {% for status in allStatuses %}
            <h2>{{ status }}</h2>
            <div class="tournamentList">
                {% set groupedTournaments = tournamentsByStatus[status] is defined ? tournamentsByStatus[status] : [] %}
                {% if groupedTournaments is empty %}
                    <p>Aucun tournoi pour le moment.</p>
                {% else %}
                    {% for tournament in groupedTournaments %}
                        <div class="tournament">
                            <div class="image">
                                <img src="/uploads/pictures/{{ tournament.image }}" alt="Image du tournoi {{ tournament.name }}">
                            </div>
                            <div class="infoTournoi">
                                <div class="nameStatus">
                                    <h3>{{ tournament.name }}</h3>
                                    <p>Statut : {{ tournament.status }}</p>
                                </div>
                                <div class="rankingTournoi">
                                    {% set rankingMap = {3: 'C30.6',5: 'C30.5',10: 'C30.4',15: 'C30.3',20: 'C30.2',25: 'C30.1',30: 'C30',35: 'C15.5',40: 'C15.4',45: 'C15.3',50: 'C15.2',55: 'C15.1',60: 'C15',65: 'B+4/6',70: 'B+2/6',75: 'B0',80: 'B-2/6',85: 'B-4/6',90: 'B-15',95: 'B-15.1',100: 'B-15.2',105: 'B-15.4',110: 'A.Nat',115: 'A.Int'} %}
                                    <span class="annonce">Limite de classement</span>
                                    {% if tournament.rankingMin %}
                                        <span>{{ rankingMap[tournament.rankingMin] ?? 'Aucune limite de classement' }}  |  {{ rankingMap[tournament.rankingMax] ?? 'Aucune limite de classement' }}</span>
                                    {% else %}
                                        <span>Aucune limite</span>
                                    {% endif %}
                                </div>
                                <div class="participantTournoi">
                                    {% if tournament.status == 'Inscription' %}
                                        <span class="annonce">Nombre d'inscrits</span>
                                        <span>{{ tournament.tournamentRegistrations|length }} / {{tournament.participantsMax}}</span>
                                    {% else %}
                                        <span class="annonce">Nombre de Participants</span>
                                        <span>{{tournament.participantsMax}} personnes</span>
                                    {% endif %}
                                </div>
                                {% if tournament.status == 'Terminé' %}
                                    <div class="winner">
                                        <span class="annonce">Vainqueur</span>
                                        <span>{{tournament.winner.fullName}}</span>
                                    </div>
                                {% endif %}
                                <div class="inscriptionBracket">
                                    {# Si le tournoi est en phase d'inscription, afficher le bouton d'inscription #}
                                    {% if tournament.status == 'Inscription' %}
                                        {# Vérifier si l'utilisateur est déjà inscrit #}
                                        {% if not tournamentRegistrations[tournament.id] %}
                                            <a href="{{ path('tournament_register', { id: tournament.id }) }}" class="btnAction greenBtn">S'inscrire</a>
                                        {% else %}
                                            <a href="{{ path('tournament_unregister', { id: tournament.id }) }}" class="btnAction redBtn">Se désinscrire</a>
                                        {% endif %}
                                    {% else %}
                                        {# Le tournoi est soit en cours soit terminé, afficher les tableaux #}
                                        <a href="{{ path('tournament_view_bracket', { id: tournament.id }) }}" class="btnAction">Voir les tableaux</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
