{% extends 'base.html.twig' %}

{% block title %}MyClub - SmashUcclois{% endblock %}

{% block body %}
    <div class="myClub">
        <div class="myClubContainer">
            {# Ajout d'une div pour les messages flashs #}
            <div class="alertContainer">
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="infoProfil">
                <div class="imgProfil">
                    {% if user.picture %}
                        <img src="/uploads/pictures/{{ user.picture }}" alt="Photo de {{ user.fullName }}">
                    {% else %}
                        <img src="/images/avatarvide.png" alt="Photo de {{ user.fullName }}">
                    {% endif %}
                </div>
                <div class="actionProfil">
                    <h1>Bonjour {{user.firstName}} {{user.lastName|upper}}</h1>
                    <div class="btnActions">
                        <a href="{{ path('account_profile') }}">Modifier le profil</a>
                        <a href="{{ path('account_logout') }}" class='deconnectBtn'>Déconnexion</a>
                    </div>
                </div>
            </div>
            <hr>
            <swiper-container class="mySwiper" init="false">
                <swiper-slide>
                    <h2>Vos prochaines réservations</h2>
                    {% if upcomingReservations is empty %}
                        <h4>Aucune réservation</h4>
                        <a href="{{ path('reservation_index') }}">Créer une reservation</a>
                    {% else %}
                        {% for item in upcomingReservations %}
                            <h2>Coucou</h2>
                        {% endfor %}
                    {% endif %}
                </swiper-slide>
                <swiper-slide>Vos prochains matchs</swiper-slide>
                <swiper-slide>Slide 3</swiper-slide>
            </swiper-container>
        </div>
        <div class="shapedividers_com-9608"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script>
        const swiperEl = document.querySelector('swiper-container');

        const params = {
            injectStyles: [`
                .swiper-pagination{
                    bottom: auto !important;
                    top: 0 !important;
                }

                .swiper-pagination-bullet {
                    width: auto;
                    padding: 10px 15px;
                    font-size: 14px;
                    color: #000000;
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 4px; /* coins légèrement arrondis pour un effet carré */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    text-align: center;
                }

                .swiper-pagination-bullet-active {
                    color: #CCF201;
                    background: #000000;
                }
            `],
            pagination: {
                clickable: true,
                renderBullet: function (index, className) {
                    const labels = ["Reservation", "Tournament", "Event"];
                    return '<span class="' + className + '">' + labels[index] + "</span>";
                },
            },
        };

        Object.assign(swiperEl, params);

        swiperEl.initialize();
    </script>
{% endblock %}
