{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="newsPage">
        <div class="imgNews">
            <h1>Actualités</h1>
            <img src="/images/About.jpg" alt="Image pour actualités">
            <div class="shapedividers_com-9608"></div>
        </div>
        <div class="newsData">
            <div class="newsContainerItem">
                <div class="newsBloc">
                    <div class="imgBlockNews">
                        <img src="/uploads/pictures/{{news.picture}}" alt="Image de {{news.title}}">
                    </div>
                    <div class="contentBlocNews">
                        <h2>{{news.title}}</h2>
                        <span>{{ news.createdAt|date('d/m/Y') }}</span>
                        <p>{{ news.content}}</p>
                        {% if news.link %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path(news.link) }}">Voir</a>
                            {% else %}
                                <a href="{{ path('account_login', {redirect: path(news.link)}) }}" class="btn btn-secondary">Voir</a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
                <a href="{{ path('news_index') }}" class='retourNews'>Retour aux actualités</a>
            </div>
            <div class="shapedividers_com-9608"></div>
        </div>
    </div>
{% endblock %}
