{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Tennis Smash Ucclois{% endblock %}

{% block body %}
    <div class="homePage">
        <div class="accueil">
            <div class="homeText">
                <h2>Bienvenue au</h2>
                <h1>Tennis Club Smash Ucclois</h1>
                <div class="btnHome">
                    <a href="{{ path('about') }}">À Propos</a>
                    <a href="{{ path('account_login') }}" class="connectBtn">Se connecter</a>
                </div>
            </div>
            <div class="shapedividers_com-9608"></div>
            <img src="/images/tennisBackground.jpg" alt="Image de terrain de tennis">
        </div>
        <div class="statsHome">
            <div class="statLeft"> 
                <div class="infoStats"></div>
                <div class="statStats"></div>
                <div class="imgLeft">
                    <div class="containerImgLeft">
                        <img src="/images/tennisHomeForm.jpg" alt="Image du club">
                    </div>
                </div>
            </div>
            <div class="statRight">
                <div class="infoStats">
                    <div class="containerTextInfo">
                        <h3>Bien plus qu'un club de tennis</h3>
                        <p>Situé dans le parc du Wolvendael à Uccle, notre club de tennis offre des courts en terre battue, encadrés par des entraîneurs expérimentés qui vous aideront à améliorer votre jeu.</p>
                        <p>Participez à nos tournois et compétitions tout au long de l'année et montrez vos compétences sur le terrain !</p>
                        <div class="contactInfo">
                            <div class="contactUs">
                                <a href="#">Nous contactez</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statStats">
                    <div class="statContainer">
                        <div class="statsUp">
                            <div class="stat">
                                <div class="statBlock">
                                    <div class="logoStat">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
                                    </div>
                                    <div class="textStat">
                                        <span class="numberStat">{{ totalMembers }}+</span>
                                        <span>Membres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="stat">
                                <div class="statBlock">
                                    <div class="logoStat">
                                        <img src="/images/coach.png" alt="SVG coach de tennis">
                                    </div>
                                    <div class="textStat">
                                        <span class="numberStat">{{ totalCoaches }}</span>
                                        <span>Coachs</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="statsDown">
                            <div class="stat">
                                <div class="statBlock">
                                    <div class="logoStat">
                                        <img src="/images/tennis-court.png" alt="SVG terrain de tennis">
                                    </div>
                                    <div class="textStat">
                                        <span class="numberStat">{{ totalCourts }}</span>
                                        <span>Terrains</span>
                                    </div>
                                </div>
                            </div>
                            <div class="stat">
                                <div class="statBlock">
                                    <div class="logoStat">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"/></svg>
                                    </div>
                                    <div class="textStat">
                                        <span class="numberStat">50+</span>
                                        <span>Evenements par an</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsHome">
            <div class="shapedividers_com-9608"></div>
            <h2>DERNIERES ACTUALITÉS</h2>
            <div class="newsContainer">
                <!-- Première actualité à gauche -->
                {% for news in lastNews %}
                    {% if loop.first %}
                        <div class="primaryNews">
                            <h2 class="newsTitle">{{ news.title }}</h2>
                            <p>{{ news.content|slice(0, 300) ~ '...' }}</p>
                            <div class="imgNews">
                                <img src="/uploads/pictures/{{news.picture}}" alt="Image de {{news.title}}">
                            </div>
                            <a href="{{ path('news_show', {slug: news.slug}) }}"></a>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Conteneur pour les trois autres actualités à droite -->
                <div class="otherNews">
                    {% for news in lastNews %}
                        {% if not loop.first %}
                            <div class="news">
                                <div class="textNews">
                                    <h3>{{ news.title }}</h3>
                                    <p>{{ news.content|slice(0, 100) ~ '...' }}</p>
                                </div>
                                <div class="imageNews">
                                    <img src="/uploads/pictures/{{news.picture}}" alt="Image de {{news.title}}">
                                </div>
                                <a href="{{ path('news_show', {slug: news.slug}) }}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <a class="allNews" href="{{ path('news_index') }}">Toutes les actualités</a>
        </div>
        <div class="eventHome">
            <div class="shapedividers_com-9608"></div>
            <h2>Évenements à venir</h2>
            <div class="upEvent"></div>
            <div class="downEvent"></div>
            <div class="eventContainer">
                <swiper-container class="mySwiper" init="false">
                    {% for event in upcomingEvents %}
                        <swiper-slide>
                            <img src="/uploads/pictures/{{event.picture}}" alt="Image de {{event.title}}">
                                <a href="{{ path('agenda_show', {slug: event.slug}) }}"></a>
                            <span>{{ event.date|date('d/m/Y') }}</span>
                            <h4>{{event.title}}</h4>
                        </swiper-slide>
                    {% endfor %}
                </swiper-container>
            </div>
            <a class="allEvent" href="{{ path('agenda_index') }}">Tous les évenements</a>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script>
    const swiperEl = document.querySelector('swiper-container')
    Object.assign(swiperEl, {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        900: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 50,
        },
      },
    });
    swiperEl.initialize();
  </script>

{% endblock %}
