{# templates/address_book/search.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Résultats de la Recherche{% endblock %}

{% block body %}
    <div class="myClub">
        <div class="myClubContainer">
            <div class="addressBook">
                <h1 class="mb-4 text-center">Résultats de la Recherche</h1>

                <form method="get" action="{{ path('addressbook_search') }}" class="search-form">
                    <input type="text" name="q" value="{{ app.request.query.get('q') }}" class="form-input" placeholder="Rechercher par nom, prénom">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </form>

                {% if results is empty %}
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun utilisateur trouvé.
                    </div>
                {% else %}
                    <div class="user-cards">
                        {% for user in results %}
                            <div class="user-card">
                                {% if user.picture %}
                                    <img src="/uploads/pictures/{{ user.picture }}" alt="Image de profil" class="profile-pic">
                                {% else %}
                                    <img src="/images/avatarvide.png" alt="Avatar Vide" class="profile-pic">
                                {% endif %}
                                <div class="user-info">
                                    <h2>{{ user.lastname }}, {{ user.firstname }}</h2>
                                    <p>Classement : {{ user.ranking }}</p>
                                </div>
                                <div class="user-details">
                                    <p>Email : {{ user.email | replace({' ': ''}) }}</p>
                                    <p>Téléphone : {{ user.phone }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="shapedividers_com-9608"></div>
    </div>
{% endblock %}
